In [43]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
#we are going to be using the RandomForestRegressor since we have a problem in which the output in a continuous value and not discrete

In [5]:
#we load the dataset
df = pd.read_csv("gld_price_data.csv")
df

           Date          SPX         GLD        USO      SLV   EUR/USD
0      1/2/2008  1447.160034   84.860001  78.470001  15.1800  1.471692
1      1/3/2008  1447.160034   85.570000  78.370003  15.2850  1.474491
2      1/4/2008  1411.630005   85.129997  77.309998  15.1670  1.475492
3      1/7/2008  1416.180054   84.769997  75.500000  15.0530  1.468299
4      1/8/2008  1390.189941   86.779999  76.059998  15.5900  1.557099
...         ...          ...         ...        ...      ...       ...
2285   5/8/2018  2671.919922  124.589996  14.060000  15.5100  1.186789
2286   5/9/2018  2697.790039  124.330002  14.370000  15.5300  1.184722
2287  5/10/2018  2723.070068  125.180000  14.410000  15.7400  1.191753
2288  5/14/2018  2730.129883  124.489998  14.380000  15.5600  1.193118
2289  5/16/2018  2725.780029  122.543800  14.405800  15.4542  1.182033

[2290 rows x 6 columns]

In [6]:
df.describe()
#we can notice that SPX has no relationship to Gold value, therefore we will be able to delete it in just a while

               SPX          GLD          USO          SLV      EUR/USD
count  2290.000000  2290.000000  2290.000000  2290.000000  2290.000000
mean   1654.315776   122.732875    31.842221    20.084997     1.283653
std     519.111540    23.283346    19.523517     7.092566     0.131547
min     676.530029    70.000000     7.960000     8.850000     1.039047
25%    1239.874969   109.725000    14.380000    15.570000     1.171313
50%    1551.434998   120.580002    33.869999    17.268500     1.303297
75%    2073.010070   132.840004    37.827501    22.882500     1.369971
max    2872.870117   184.589996   117.480003    47.259998     1.598798

In [7]:
df['GLD'].value_counts()
#how many unique values are there in the Gold column

115.940002    5
117.959999    4
122.209999    4
126.300003    4
124.589996    4
             ..
147.179993    1
146.240005    1
145.729996    1
148.339996    1
122.543800    1
Name: GLD, Length: 1930, dtype: int64

In [8]:
df.drop('SPX', axis=1)
X= df.drop('Date', axis=1)
#we also drop the date since it is irrelevant to our study in addition to being it non compatible with the regression algorithms, there are special algorithms that 
#take time/date into consideration, time/date related data is called time series

           Date         GLD        USO      SLV   EUR/USD
0      1/2/2008   84.860001  78.470001  15.1800  1.471692
1      1/3/2008   85.570000  78.370003  15.2850  1.474491
2      1/4/2008   85.129997  77.309998  15.1670  1.475492
3      1/7/2008   84.769997  75.500000  15.0530  1.468299
4      1/8/2008   86.779999  76.059998  15.5900  1.557099
...         ...         ...        ...      ...       ...
2285   5/8/2018  124.589996  14.060000  15.5100  1.186789
2286   5/9/2018  124.330002  14.370000  15.5300  1.184722
2287  5/10/2018  125.180000  14.410000  15.7400  1.191753
2288  5/14/2018  124.489998  14.380000  15.5600  1.193118
2289  5/16/2018  122.543800  14.405800  15.4542  1.182033

[2290 rows x 5 columns]

In [26]:
X= df.drop('GLD', axis=1)
#we define features

In [27]:
y = df['GLD']
#we define the target variable

In [28]:
scaler = StandardScaler()

In [29]:
X_std = scaler.fit_transform(X)
#we scale the data to be able to have the same range in all columns

In [31]:
model = RandomForestRegressor()
#initiating the model

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X_std, y, test_size=0.2, random_state=42)
#defining our training and testing sets

In [34]:
model.fit(X_train, y_train)
#training the model

RandomForestRegressor()

In [38]:
pred=model.predict(X_test)

In [42]:
mean_squared_error(pred, y_test)
#calculating the errors is one of the most efficient ways to calculate regression models accuracies, the smaller it is the more efficient the model is

0.01071593002352084

In [44]:
mean_absolute_error(pred, y_test)

0.0441637554148516

In [45]:
r2_score(pred, y_test)
#R2 is also one of the most effective ways to calculate the efficiency and the rate of acceptance of the model

0.9999804369204511